body {
  background: black;
  color: white;
}

/* List buttons */
.btn-primary {
  width: 15rem;
  margin: .25rem 0 .25rem 0;
}

.btn-info {
  width: 3rem;
}

.btn-danger.cat {
  width: 3rem;
}

.button-row {
  display: flex;
}

/* Category modal */
.category-modal {
  color: black;
}

/* Recipe Form */
.recipe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40rem;
}
